*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aqua;
    color: black;
    border: 1px solid red;
}
.button{
    display: flex;
    flex: 1;
    align-items: center;
    border: 3px solid rgb(7, 187, 37);
  
}
.navbar ul{
    display:flex;
    flex-direction: row-reverse;
    margin-right: 5px;
    border: 2px solid rgb(9, 6, 214);
}
.navbar ul li{
    list-style: none;
    font-weight: 500;
    margin-left: 15px;
}
.active{
    display: block;
}
.toggle{
    cursor: pointer;
    display: none;
}
@media (max-width: 580px) {
    .toggle{
      
        display: block;
    }

   .navbar ul{
      display:block;
     flex-direction: column;
     position: fixed;
     left: 0;
     top: 75px;
     width: 50%;
     height: 500px;
     text-align: center;
     background-color: aqua;
   }
   .navbar ul li{
      text-align: center;
      padding-top: 30px;
   }
   .button{
     flex: 1;
     justify-content: space-between;  
   }
   
}